p.expand {
  text-align: justify;
  font-size: 15px;
  color: #00008B;
  background-color: #f7f6f1;
}

::selection {
  background: yellow;
}

.element-container:nth-of-type(1) button{
	font-size: 17px;
	font-weight: bold;
	height: 2.6em;
	background-color: #F0FFF0;
	color: black; 
}

.element-container:nth-of-type(1) button:hover {
	background-color: lightgreen;
	color: white;
	font-weight: bold;
}

.element-container:nth-of-type(1) button:active {
	background-color: red;
	color: white;
	text-decoration-line: underline;
}

.element-container:nth-of-type(1) button:not(:hover) {
	background-color: #F0FFF0;
	color: black; 
}

.stNumberInput input[aria-label="Número de dias"] {
    text-align: center;
}

table{
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

th {
	background: lightgreen;
	color: white;
	font-style: normal;
	font-size: 14px;
	text-align: center;
}

td, tr {
	font-size: 14px;	
}

tr:hover {
	background-color: Violet;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: yellow;
  color: black;
  font-style: bold;  
 }
