p.expand {
  text-align: justify;
  font-size: 17px;
  color: black;
  background-color: #E0FFFF;
}

.element-container:nth-of-type(1) button{
	font-size: 17px;
	font-weight: bold;
	height: 3.2em;
	background-color: #F0FFF0;
	color: black;
	border: 1px solid black; 
}

.element-container:nth-of-type(1) button:hover {
	background-color: lightgreen;
	color: white;
	font-weight: bold;
}

.element-container:nth-of-type(1) button:active {
	background-color: red;
	color: white;
	text-decoration-line: underline;
}

.element-container:nth-of-type(1) button:not(:hover) {
	background-color: #F0FFF0;
	color: black;
	border: 1px solid black; 
}
