p.expand {
  text-align: justify;
  font-size: 17px;
  color: #00008B;
  background-color: #f7f6f1;
}

.element-container:nth-of-type(1) button{
	font-size: 17px;
	font-weight: bold;
	height: 2.6em;
	background-color: #F0FFF0;
	color: black; 
}

.element-container:nth-of-type(1) button:hover {
	background-color: lightgreen;
	color: white;
	font-weight: bold;
}

.element-container:nth-of-type(1) button:active {
	background-color: red;
	color: white;
	text-decoration-line: underline;
}

.element-container:nth-of-type(1) button:not(:hover) {
	background-color: #F0FFF0;
	color: black; 
}

.stNumberInput input[aria-label="Número de dias"] {
    text-align: center;
}

table{
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

th{
	background: rgb(120, 120, 120);
	color: white;
	font-style: normal;
	font-size: 13px;
}

tr:hover {
	background-color: yellow;
}
